[2020-06-05 21:30] matthewhall78 opened #14 "Save and Review Button - users are confused"
The drone PIA business users are reporting that users are looking for a Submit button.
Can you consider changing the label of the button to "Submit"?

[2020-06-05 22:11] sumathi-thirumani-aot commented on #14
Change Details/Solution : Login into application with designer role and change the label name to "Submit".
Action: Implemented in production.

[2020-07-24 17:52] #14 closed

[2020-12-14 14:03] WuMaKu opened #35 "BPM container doesn't run successfully"
## Bug Report

### Please provide information about your setup

- formsflow.ai Version: latest
- Browser: not related
- Browser version: not related

### Steps to Reproduce

1. Installed, configured & tested (using Postman) Keycloak Server
2. Neither the full deployment (tested on Docker for Windows & Docker on Ubuntu Server) nor
https://github.com/AOT-Technologies/forms-flow-ai/tree/master/forms-

[2020-12-16 06:03] sumathi-thirumani-aot commented on #35
**Resolution:**
As log infers, http scheme is unsupported for integration with IDM.
Recommended solution would be to enable SSL for keycloak by following the instructions given on link https://www.keycloak.org/docs/latest/server_installation/
**Section to be referred : Enabling SSL/HTTPS for the Keycloak Server**

[2020-12-16 14:03] WuMaKu commented on #35
Many thanks for your repsonse!
you might consider to set this as a requirement on this site:
https://github.com/AOT-Technologies/forms-flow-ai/blob/master/forms-flow-idm/keycloak-setup.md

I successfully started an https Keycloak Server (might also be useful to others:
sudo docker run --name keycloak -e KEYCLOAK_USER=admin -e KEYCLOAK_PASSWORD=admin -p 8443:8443 jboss/keycloak

All the Postman req

[2021-02-10 15:39] F5Brewery commented on #35
Agreed.  Please add this to the documentation it would help prevent hours/days of lost time.
Following a bit of WuMaKu instruction I was also able to startup keycloak in SSL.
I exported the cert for the site, imported into docker.  SEE https://stackoverflow.com/questions/35946844/docker-compose-pull-results-in-x509-certificate-signed-by-unknown-authority - With out this you get a different unautho

[2021-02-11 18:44] F5Brewery commented on #35
I ended up bringing up a version of keycloak docker that used my SSL.  I was able to get this to get past the posted error by importing the cert into the java key store.  I did this by copying my cert into the forms-flow-bpm and editing the dockerfile before the WORKDIR command with:
RUN mkdir /certs
COPY rootcert.cer /certs/
RUN keytool -importcert -file /certs/rootcert.cer -cacerts -keypass chan

[2021-02-11 18:53] F5Brewery opened #41 "forms-flow-api continually reboots"
## Bug Report

### Please provide information about your setup

- formsflow.ai Version: latest
- Browser: Not related
- Browser version: net related

### Steps to Reproduce

1.Install configure Keycloak
2.configure environmental variables for either full docker deployment or just web api docker
3. Build web-api
4. start web api
5. docker ps -a

### Observed Behaviour
CONTAINER ID   IMAGE

[2021-02-11 19:27] F5Brewery commented on #41
OK found the issue, but it is not clear for me.
The mongodb URI needs populated.  It appears to be launched though and I do not see where or how this populated in order for me to get the correct info.  I filled it in with bogus stuff and it got by it presumably until I try to use a sentiment?

It would be nice to have some additional detail on the mongodb

I also need to figure a way to get my key

[2021-02-11 21:53] F5Brewery commented on #41
I effectively solved this by creating a second set of environment variables in the .env and yml for web_api having it point to the http version.  I could not figure out how to add my root cert to the docker container as my docker knowledge is still little.

I wish there was a forum or other place to go for assistance.  I have it all up, sort of.  My workflows don't show when I try to associate - j

[2021-02-12 01:05] F5Brewery opened #42 "Workflows not populated"
## Bug Report

### Please provide information about your setup

- formsflow.ai Version: Docker Full Deployment
- Browser: Chrome
- Browser version:  88.0.4324.150 and Edge  88.0.705.63

### Steps to Reproduce

1. Install Key Cloak with SSL
2. Use full docker deployment forms-flow-ai
3. Make best guess at mongodb url - mongodb://admin:secret@loc.alh.ost.IP:27018/analytics?authSource=admin&authMecha

[2021-02-12 01:12] F5Brewery opened #43 "Provide way to upload self signed certs for use"
Being this is a development/trial environment and some items in the requirements require SSL it would be good to be able to load self signed certs onto the various machines and have them trust them.  This is for both the environment and java.

In my very low level dev abilities I made this happen and posted this as a fix to an issue on the BPM.

It would be even more awesome if it could also be ho

[2021-02-12 20:17] F5Brewery commented on #41
I solved it further by mounting my certs folder into the web api docker container through the yaml file -
 - /etc/ssl/certs:/etc/ssl/certs

Then adding:
update-ca-certificates
before the last line of entrypoint in the web-api folder.

[2021-02-12 20:17] #41 closed

[2021-02-12 20:21] F5Brewery commented on #42
I fixed this by resolving the web-api login.  Apparently you can not have one authenticate through SSL Keycloak and another through a non-SSL.  By resolving my certificate issues I was able to get this all to work.

I highly suggest that the certificate issues are addressed in the documentation.  This resulted in almost a week of my work day in trying to resolve.  By the time I was able to see it

[2021-02-12 20:21] #42 closed

[2021-02-15 19:08] F5Brewery opened #44 "No Tasks Found"
## Bug Report

### Please provide information about your setup

- formsflow.ai Version: Full Docker Deployment
- Browser:  Edge or Chrome
- Browser version: Latest

### Steps to Reproduce

1. Full deployment Install
2. Go through example for application
3. Submit

### Observed Behaviour

No Tasks found

### Expected Behaviour
Expect tasks to be found according to example

[2021-02-15 20:28] F5Brewery commented on #44
My AI and BPM both seem to log errors on submit of the form.  Here is the AI one.

2021-02-15 19:58:27,557 - root - DEBUG in bpm:bpm.py:42 - get_process_definition_xml: process detail xml process-key>>onestep-sr-ai.enabled
2021-02-15 19:58:27,558 - root - DEBUG in bpm:bpm.py:44 - get_process_definition_xml: process def url>>http://172.20.55.105:8000/camunda/engine-rest/process-definition/key/onest

[2021-02-15 20:29] F5Brewery commented on #44
Seems no one is actually watching this REPO - I have no responses even going back to last week :(

[2021-02-16 17:36] F5Brewery commented on #44
SEVERE: Servlet.service() for servlet [dispatcherServlet] in context with path [/camunda] threw exception [Request processing failed; nested exception is org.springframework.jdbc.BadSqlGrammarException: PreparedStatementCallback; bad SQL grammar [select aht.id_  taskid, aht.name_ taskname,  act.group_id_ groupname, aht.proc_inst_id_ pid, aht.proc_def_key_ processdefkey, aht.task_def_key_ taskDefin

[2021-02-16 17:46] F5Brewery commented on #44
in Web-API
2021-02-16 17:41:37,167 - root - ERROR in logging:logging.py:19 - log_error: ERROR:Create - status_code: 500, {"timestamp":"2021-02-16T17:41:37.161+0000","status":500,"error":"Internal Server Error","message":"PreparedStatementCallback; bad SQL grammar [select aht.id_  taskid, aht.name_ taskname,  act.group_id_ groupname, aht.proc_inst_id_ pid, aht.proc_def_key_ processdefkey, aht.task_

[2021-02-16 17:52] sumathi-thirumani-aot commented on #44
@F5Brewery  This is due to keycloak setup. The BPM controller will respond based on the groups; Please add the below given mapper to client "forms-flow-web".
![image](https://user-images.githubusercontent.com/57740789/108101832-a85dcb80-703c-11eb-9b85-4310e032dc3d.png)

[2021-02-16 17:52] F5Brewery commented on #44
I will add that when I add a form and click next, it does nothing.  If I click Edit Form, then save again, then hitting next does goes to select Workflow.

[2021-02-16 17:55] F5Brewery commented on #44
Thank you so much for responding.  I am adding this and will test.  Did I miss this in the instructions for setting up keycloak?

[2021-02-16 18:00] sumathi-thirumani-aot commented on #44
@F5Brewery  Readme is missing this step. We will include it.

[2021-02-16 18:11] F5Brewery commented on #44
OK that fixed it so that I can view submissions.  Awesome, glad I pointed out something helpful too.
That is another step forward.
I still get no tasks though.  I also still get this issue when I submit and preview, the next button does not work.
I see this in web-api (below) if there is somewhere else I can check I would be glad to do so.

2021-02-16 18:05:04,558 - root - ERROR in logging:logging

[2021-02-16 18:16] F5Brewery commented on #44
This shows up in the forms server:
CastError: Cast to ObjectId failed for value "mail.name@gmail.com" at path "_id" for model "submission"

[2021-02-16 18:48] F5Brewery commented on #35
I would be happy to write an addendum guide...
I now have all containers running with my self signed KeyCloak SSL instance.

in Redash I created a docker file where I did different things to try to get this to work.  In the end adding this environment variable line worked:
ENV REQUESTS_CA_BUNDLE /usr/local/share/ca-certificates/rootcert.crt

rootcert.crt is effectively my chained cert.  This could

[2021-02-16 21:43] F5Brewery commented on #44
2021-02-16 18:06:25,918 - root - DEBUG in process:process.py:86 - get_process_activity_instances: get_process_activity_instances null
2021-02-16 18:06:25,966 - root - DEBUG in bpm:bpm.py:42 - get_process_definition_xml: process detail xml process-key>>onestepreview
2021-02-16 18:06:25,967 - root - DEBUG in bpm:bpm.py:44 - get_process_definition_xml: process def url>>http://172.20.55.105:8000/camun

[2021-02-16 22:15] sumathi-thirumani-aot commented on #44
@F5Brewery  can you help in debugging this in detail by answering the below.
1. Is BPM up and running ?
2. In BPM, are you able to navigate to cockpit and see processes deployed ?
3. Share the logs of bpm container.

[2021-02-17 06:10] WuMaKu commented on #35
Hi F5Brewery,
Happy to get some feedback :D! I'll try your instructions within the next few days, hopefully I can get it up and running too, many thanks!

[2021-02-17 13:40] F5Brewery commented on #44
@sumathi-thirumani-aot  yes of course - sorry for the delay.
1. Yes it is up and running
2. I can see the cockpit - It shows 1 process deployed
3. See attached
[forms-flow-bpm.txt](https://github.com/AOT-Technologies/forms-flow-ai/files/5995992/forms-flow-bpm.txt)
4. Yes - attached is all containers I have running.
[running_dockers.txt](https://github.com/AOT-Technologies/forms-flow-ai/files/59960

[2021-02-17 14:00] F5Brewery commented on #35
@WuMaKu
You are quite welcome.
The export and import realm for keycloak saved me a ton of time and it works well.  Also do note that there is a missing setup for keycloak that is listed in a separate issue I have opened about missing tasks.

This is also some info I used for my keycloak:

https://stackoverflow.com/questions/52674979/keycloak-ssl-setup-using-docker-image
Bringing Keycloak up with a

[2021-02-17 14:06] F5Brewery commented on #44
![Cockpit](https://user-images.githubusercontent.com/10841082/108215464-5df15300-70ff-11eb-8382-8c10d4dfae2b.png)
![deployment](https://user-images.githubusercontent.com/10841082/108215473-6053ad00-70ff-11eb-9c1a-0d6498a5002b.png)
Just in case these help

[2021-02-17 18:08] F5Brewery commented on #44
Seems I am unable to start from within Camunda as well.  I also get a 404 error.  It is as if they are not there or where they are expected any way.

![startProcess](https://user-images.githubusercontent.com/10841082/108247715-0368ee80-7121-11eb-809b-5aa3ed145eef.png)

[2021-02-17 21:47] F5Brewery commented on #44
So when I did some further troubleshooting I took some things down.  One of them was the forms flow.  I tried to submit again like above and noticed it told me it could contact the forms flow server ip I think port 3000.  It seems whatever is missing is missing from there.  Maybe a keycloak issue again - not matching role?

[2021-02-18 15:23] F5Brewery commented on #44
Any ideas?  Anything else I can provide? I am out of ideas on this one.

[2021-02-18 16:52] abhilash-aot commented on #44
@F5Brewery , Have you associated the form to a process in workflow designer (While designing the form as with designer role) .? Also can you check the network for any  api error you are facing.
![image](https://user-images.githubusercontent.com/61222674/108391498-c9d6d700-7237-11eb-9665-1e2acb2c9d86.png)

[2021-02-18 16:59] F5Brewery commented on #44
@abhilash-aot
Yes they are associated and I have tried multiple different workflows.  When you say check the network, what do you mean?  They are all hosted on the some machine and they are all reachable.  I have tested to ensure that I can connect to each db  as well.

I did notice in the instructions for setup of the BPM (not through full deployment) it has something about deploying a process.

[2021-02-18 17:07] F5Brewery commented on #44
I am signing in with a designer role, oddly though it shows me as a reviewer.  I removed all roles and set only as designer and it still showed this way.
![WFs](https://user-images.githubusercontent.com/10841082/108393647-d9c3cc00-71e1-11eb-88c2-3defb3f82ce8.png)

[2021-02-18 19:44] F5Brewery commented on #44
Anyone else have any ideas?  I really like this setup more than any other I have seen and would really like to get this in front of my management.  Is it confirmed that this works as is following the provided instructions (aside from the portion missing about groups in keycloak)?

[2021-02-18 19:54] sumathi-thirumani-aot commented on #44
@F5Brewery  Is it possible to have a short meeting setup to discuss and resolve the issues ?

[2021-02-18 20:03] F5Brewery commented on #44
It is possible.  That is not something I am used to doing in a github scenario.  Please forgive me for asking, but what is the full intent of the meeting?

[2021-02-19 18:08] F5Brewery opened #45 "Formio incorrectly shows membership"
## Bug Report

### Please provide information about your setup

- formsflow.ai Version: Docker Full Deployment
- Browser: Edge and Chrome
- Browser version: Latest

### Steps to Reproduce

1. Follow install procedures for Docker Install
2. Sign in with a user that is part of formsflow-designer group

### Observed Behaviour

Formio lists you as a reviewer:
![IncorrectGroup](https://user-images.gith

[2021-02-19 18:13] F5Brewery opened #46 "Next button does not work on initial form save"
## Bug Report

### Please provide information about your setup

- formsflow.ai Version: Docker Full Install
- Browser: Edge/Chrome
- Browser version: Latest

### Steps to Reproduce

1. Perform Full install of Docker
2. Open Formio and Create form
3. Save and Preview
4. Press Next...

### Observed Behaviour
You don't go to the next screen, click edit form and it will take you back, Press save , now

[2021-02-19 18:32] abhilash-aot commented on #45
Hi F5Brewery, This happened due to the multiple roles available to the user.  The "Test Designer" user may belong to both Reviewer and Designer Roles.  Was showing Reviewer as precedence. Thanks

[2021-02-19 18:37] F5Brewery commented on #45
The only roles assigned are the default role as client and the role designer.
![groups](https://user-images.githubusercontent.com/10841082/108546663-7310e200-72b7-11eb-93b4-e014bb6ffe2a.png)
That is what makes it so odd.  Initially I thought the same.  That is why I created this specific user that has design role only.

[2021-02-19 18:53] abhilash-aot commented on #45
Can you confirm the forms-flow-designer group further belong to the designer role only. ?
![image](https://user-images.githubusercontent.com/61222674/108548376-c283fc00-7311-11eb-9f40-6d306af3e070.png)

[2021-02-19 19:04] F5Brewery commented on #45
Confirmed for the Reviewer like you have in your pic, but indeed the designer role has client, designer, and reviewer roles attached to it.  I can see your comment now.  I would still expect this to show me as my proper role, at least the highest/least restricted assigned.  Especially in a business situation.

[2021-02-19 19:06] F5Brewery commented on #45
I can confirm removing the reviewer role from the designer group does indeed put my testd user as a designer and not reviewer.

[2021-02-19 19:55] F5Brewery commented on #44
I was able to use postman to troubleshoot a little.  When I use postman with authenticated request header I get a response of 500 Internal Server Error and a response:

{
    "type": "NullPointerException",
    "message": null
}

I posted to http://MyIpAdd:8000/camunda/engine-rest/process-definition/key/two-step-approval/start

This corresponds to my error in WebAPI:
2021-02-19 19:07:26,992 - root

[2021-02-19 20:24] F5Brewery commented on #44
OK...
I created my own BPM from scratch (very limited though), deployed it, and it works.  It shows up in the tasks.  Maybe there is something wrong with the packaged BPMs?  Maybe a configured association in the BPM is not working?

[2021-02-19 20:28] sumathi-thirumani-aot commented on #45
@F5Brewery  Thanks for bring this up.
Item added to sprint: To include all assigned roles of user in UI to avoid confusion of precedence.

[2021-02-19 20:28] F5Brewery commented on #44
I will close this and re-open as a separate bug.

[2021-02-19 20:28] #44 closed

[2021-02-19 20:33] F5Brewery opened #47 "Included Workflows do not function"
## Bug Report

### Please provide information about your setup

- formsflow.ai Version: Docker Full Deployment
- Browser: Chrome/IE
- Browser version: Latest

### Steps to Reproduce

1.Full install according to instruction
2.Create Form and attach any of the included workflows, save
3.Use form and submit

### Observed Behaviour
No task shows up
Errors on Web API with 500 internal server error are

[2021-02-19 21:45] F5Brewery commented on #47
As you can tell I am quite dedicated to make this work.
I have a suspicion that something is going awry in SequenceFlow_0ociprs.
What type of value is expected for the applicationId?  I tried something from Formio, but I got an error:
{"type":"RestException","message":"Cannot instantiate process definition one_step_review:6:541ad592-72f9-11eb-a558-02te event listener : Cannot deserialize instance

[2021-02-23 18:11] F5Brewery commented on #47
[WebAPI.logs.txt](https://github.com/AOT-Technologies/forms-flow-ai/files/6030961/WebAPI.logs.txt)
[BPM.logs.txt](https://github.com/AOT-Technologies/forms-flow-ai/files/6030960/BPM.logs.txt)
In case others also run into this maybe we can work on this together?  I may effectively start dissecting this to resolve and just fork it.  As it stands if I use one of the builtin workflows it throws the er

[2021-02-24 16:15] F5Brewery commented on #47
If anyone is paying attention to this and thinks...Maybe making camunda/BPM an SSL site will fix it, nope.  Its more trouble and you end up with the same error.
I think I will go back to looking into the WebAPI - This error intrigues me and makes me believe it is not creating something...
2021-02-24 16:06:58,981 - root - ERROR in logging:logging.py:19 - log_error: ERROR:Create - status_code: 500,

[2021-02-24 17:32] F5Brewery opened #48 "Export Keycloak for Import"
This project appears to be dependent on Keycloak and some specific settings.  I would highly suggest that you perform an Export from a good working Keycloak Realm instance and provide to the system installer as a template.  The instructions are missing some items and are a bit hard to follow.  A baseline template would be immensely helpful.  The instruction should stay and also improved as this do

[2021-03-16 19:20] richardsweeting commented on #48
Hi @F5Brewery we are holding a formsflow.ai workshop where we'll be addressing issues like this. Please feel free to sign up  - we'll make sure there is time for questions at the end! https://formsflow.ai/register/

[2021-03-16 19:28] F5Brewery commented on #48
I would much rather see the actual issues addressed instead of a feature request.  My confidence in this sank dramatically once I got little reply.  I may attend, but sadly the folks interested in this pulled and requested I stop investing any time.

________________________________
From: richardsweeting ***@***.***>
Sent: Tuesday, March 16, 2021 3:20:31 PM
To: AOT-Technologies/forms-flow-ai ***@*

[2021-03-16 19:41] richardsweeting commented on #48
Yes I understand. I'm sorry to hear that you didn't get timely feedback. If there is anything else we can help with please let me know and I'll look into it for you.

[2021-03-23 12:21] waterboo opened #56 "Problems during docker build"
While doing

docker-compose -f docker-compose-linux.yml build

I get: ERROR: Service 'forms-flow-bpm' failed to build.

Possibly due to two missing files:

https://app.camunda.com/nexus/repository/camunda-bpm-community-extensions-snapshots/org/camunda/bpm/camunda-bom/7.13.0/camunda-bom-7.13.0.pom

https://app.camunda.com/nexus/repository/camunda-bpm-community-extensions-snapshots/org/springframewo

[2021-03-23 17:51] sumathi-thirumani-aot commented on #56
@waterboo Can you please let me know which branch used.

[2021-03-23 18:08] waterboo commented on #56
git clone https://github.com/AOT-Technologies/forms-flow-ai

Master branch.

Thanks.

[2021-04-06 10:35] menteora opened #62 "Demo Bundle"
Hi, I think it's a very interesting project and a demo bundle with Keycloak preinstalled and fully functional sample data for testing purpose could be interesting.

[2021-05-05 06:47] abhishekbeesony opened #78 "When running the forms flow web"
Hello ,

When im running the forms flow webcomponent, i  getting this kind of error

It keeps on rotating.
![image](https://user-images.githubusercontent.com/66721640/117105535-4be29080-ad8f-11eb-9f35-7875fb5bb020.png)

Please help.

[2021-05-05 11:25] abhilash-aot commented on #78
Please check for the keycloak configuration done. Check this link for more info on setting up with keycloak  https://github.com/AOT-Technologies/forms-flow-ai/blob/master/forms-flow-idm/keycloak-setup.md

[2021-05-06 04:19] abhishekbeesony commented on #78
Thank you abhilash.

[2021-05-06 04:21] abhishekbeesony opened #79 "When running the forms flow api web and the forms flow api web db, getting error on docker."
![image](https://user-images.githubusercontent.com/66721640/117241302-e2708980-ae43-11eb-8bd3-c1ae0702cfe8.png)

![image](https://user-images.githubusercontent.com/66721640/117241327-f61bf000-ae43-11eb-8874-29d7b6b2af44.png)

Please advice and thank you very much.

[2021-05-06 04:27] kurianbenoy-aot commented on #79
@abhishekbeesony have you added all the variables in environment files(.env)? . If not please refer:

https://github.com/AOT-Technologies/forms-flow-ai/blob/master/forms-flow-api/sample.env

Also ensure the keycloak setup is being done for the project

[2021-05-06 04:57] abhishekbeesony commented on #79
**Here is my env file. One thing I'm not understanding should i install the prostgresql and mongodb on my pc locally and if not what should be the username and password?** Thank you

##Environment variables for adaptive tier (Python Webapi) Datastore
WEB_API_DATABASE_URL=postgresql://postgres:changeme@forms-flow-webapi-db:5432/formsflow
WEB_API_POSTGRES_USER=postgres
WEB_API_POSTGRES_PASSWORD=chan

[2021-05-06 06:18] abhishekbeesony opened #80 "When running the forms flow bpm -Camunda, getting issue."
Hello Sir,
![image](https://user-images.githubusercontent.com/66721640/117250547-72b6ca80-ae54-11eb-93ea-d6378ae72789.png)

Please help.

[2021-05-06 07:52] kurianbenoy-aot commented on #79
Hi @abhishekbeesony, the docker setup on installation will create a postgres installation also, so you don't need to change any env variables. For MongoDB the username is the database username you want to login and password is the database password. I personally haven't tested if MONGODB works locally, yet it should work technically if you are running the whole formsflow.ai solution in `deployment

[2021-05-06 09:33] abhishekbeesony commented on #79
Thank you kurianbenoy-aot. i have running the components one by one and still getting this error  on forms-flow-api

********************************************************************************

WARNING: POSTGRES_HOST_AUTH_METHOD has been set to "trust". This will allow

anyone with access to the Postgres port to access your database without

a password, even if POSTGRES_PASSWORD is set. See P

[2021-05-06 11:15] abhishekbeesony opened #81 "Getting error when running the forms flow forms"
Hello,

Can you please help why are getting this kind of error ?

![image](https://user-images.githubusercontent.com/66721640/117289679-f0db9700-ae7d-11eb-8261-dfc14d0f3da6.png)

[2021-05-06 13:01] kurianbenoy-aot commented on #79
Can you share the .env variables you used? Have you completed the setup of keycloak configuration as @abhilash-aot pointed out?

[2021-05-06 16:05] abhishekbeesony commented on #79
Here is the env  and keycloak configuration has been done same as @abhilash-aot  pointed out.

##Environment variables for adaptive tier (Python Webapi) Datastore
WEB_API_DATABASE_URL=postgresql://postgres:changeme@forms-flow-webapi-db:5432/formsflow
WEB_API_POSTGRES_USER=postgres
WEB_API_POSTGRES_PASSWORD=changeme
WEB_API_POSTGRES_DB=formsflow

KEYCLOAK_TOKEN_URL=http://localhost:8080/auth/realms

[2021-05-07 03:04] jiuaige opened #83 "Can't view task"
- [ ] When I create a form, I cannot see the task list, and the background error message is as follows
- [ ]
- [ ] SEVERE: Servlet.service() for servlet [dispatcherServlet] in context with path [/camunda] threw exception [Request processing failed; nested exception is org.springframework.jdbc.BadSqlGrammarException: PreparedStatementCallback; bad SQL grammar [select aht.id_  taskid, aht.name_ task

[2021-05-07 03:13] jiuaige opened #84 "Configuration file problem"
For the following parameters, I see the official website and ask me to request this address to obtain

[
    {
        "_id": "60814598157e62584d74c7b1",
        "description": "A role for Administrative Users.",
        "default": false,
        "admin": true,
        "title": "Administrator",
        "machineName": "administrator",
        "created": "2021-04-22T09:44:56.724Z",
        "modified

[2021-05-07 04:23] abhilash-aot commented on #84
Use the json import for forms as :  https://github.com/AOT-Technologies/forms-flow-ai/blob/master/forms-flow-forms/sample.json     And check this link https://github.com/AOT-Technologies/forms-flow-ai/tree/master/deployment/docker for  environment variables for forms-flow-ai  for how to get the data.

[2021-05-07 04:23] abhishekbeesony commented on #83
@jiuaige . Can you share your email address so that we can communicate?

[2021-05-07 05:12] abhishekbeesony commented on #80
Hello,

Getting this kind of error :

![image](https://user-images.githubusercontent.com/66721640/117400717-45315600-af14-11eb-8cca-38e65f21c07a.png)

Please advice.

[2021-05-07 07:58] #84 closed

[2021-05-07 07:59] jiuaige commented on #84
I will try the method you mentioned right away. I have encountered other problems here. Can I continue to communicate with you? Can you give me some contact information, email or some social network account?

[2021-05-07 08:52] jiuaige commented on #83
Please send me an email, or tell me your email address
zhaolei19900610@gmail.com

Thank you!

[2021-05-07 09:24] jiuaige opened #86 "No task problem"
1  When I compile the form, click next, then select One Step Approval, click save, the error message of the docker_forms-flow-forms container is as follows

formio:log Token Using normal token +72ms
  formio:log User external +0ms
  formio:cache:loadForm string: 60814598157e62122774c7b4 +52ms
  formio:cache:loadForm Caching result +1ms
  formio:cache:loadSubForms Loading subforms for 60814598157e6

[2021-05-07 12:25] kurianbenoy-aot commented on #79
@abhishekbeesony you need to set CAMUNDA_API_URL with the IP of your system instead of setting the localhost variable value

![image](https://user-images.githubusercontent.com/70306694/117449079-2dca8b00-af5d-11eb-9c9a-563d04712f35.png)

[2021-05-07 14:28] abhishekbeesony commented on #79
@kurianbenoy-aot  i have replace my ip as requested.  Im still getting the above issue and it kept restating every minute.

Can we talk or share a contact details with me?.

Thank you.
![image](https://user-images.githubusercontent.com/66721640/117464604-e0045180-af61-11eb-89ef-05879b0cbfa9.png)
![image](https://user-images.githubusercontent.com/66721640/117464728-01653d80-af62-11eb-8591-7ffa08fd8

[2021-05-07 17:29] kurianbenoy-aot commented on #79
@abhishekbeesony you will need a SSL certificate for Keycloak credentials for running any component for formsflow.ai like  `forms-flow-api`, `forms-flow-bpm` etc.

In your environment variables the KEYCLOAK looks like it's being run from localhost. That won't work for formsflow.ai solution.

If you liked the project do give us a star ⭐ in our repository.

If you want to involve us in formsflow.ai

[2021-05-07 17:44] kurianbenoy-aot commented on #80
Looks like the same error @abhishekbeesony . You will need  a SSL certified  Keycloak credentials to run formsflow.ai solution

[2021-05-07 18:19] abhishekbeesony commented on #80
Thank you @kurianbenoy-aot. How can i get an SSL certified credentials?. Please help.

[2021-05-07 22:53] abhishekbeesony commented on #79
@kurianbenoy-aot  is this error also relate to the https?

![image](https://user-images.githubusercontent.com/66721640/117515846-82472800-afa8-11eb-9d5e-d949a2c89afd.png)

[2021-05-08 01:57] jiuaige commented on #86
- Create form

![image](https://user-images.githubusercontent.com/20938790/117521746-fd790000-afe1-11eb-910a-0aaa9a6c6251.png)

- Edit some information

![image](https://user-images.githubusercontent.com/20938790/117521765-14b7ed80-afe2-11eb-8774-2c7acc8e0096.png)

- Applications
![image](https://user-images.githubusercontent.com/20938790/117521754-0669d180-afe2-11eb-9d3d-355fe42d3051.png)

- But

[2021-05-08 03:50] kurianbenoy-aot commented on #79
Yeah looks like the same issue to me because of not having SSL signed Keycloak credentials.

[2021-05-08 05:28] abhilash-aot commented on #86
Create a form submission with submitNew Button to trigger a task creation from Ui /forms page(the first screenshot you gave). If the form is associated to that workflow that particular workflow task will be created .

[2021-05-08 06:10] jiuaige commented on #86
But when i submit New Button to trigger a task creation，no task has been created,and error occured
![image](https://user-images.githubusercontent.com/20938790/117528829-c8cb6f80-b006-11eb-9d31-f76f06c9c3f9.png)

Can you tell me how to correctly associate the form with the process？

[2021-05-21 22:58] parsonsalan1 opened #92 "Either documentation is incorrect or there are issues with your docker-compose files"
Constant errors when spinning up docker-compose files. I try to follow the directions but most of what I'm doing is guessing, however some of it is pretty straight forward, but still get bugs, such as can't connect to the mongo db, however when I remove the password it works just fine. So bugs there too.

[2021-05-22 16:10] parsonsalan1 commented on #35
Any chance a guide was made?

[2021-05-22 16:10] parsonsalan1 commented on #92
turns out keycloak needs to be https, any guides being made?

[2021-05-24 10:09] abhilash-aot commented on #92
@parsonsalan1  Yes we are updating the documentation for the same . Will have a version 4 release by next week with more updates.

[2021-05-24 10:09] #92 closed

[2021-05-26 06:57] abhilash-aot commented on #78
Keycloack configuration would be made easier with a import step in coming release so closing it now.

[2021-05-26 06:57] #78 closed

[2021-05-26 07:02] abhilash-aot commented on #35
@parsonsalan1 Yes it's being updated in our new version v4. We are creating a keycloack import file as well for easy spinning up
 Also a update of readme. You can currently check v4.0.0-alpha branch for any quick reference. Thanks

[2021-05-26 07:02] #35 closed

[2021-05-26 07:04] abhilash-aot commented on #81
Have created a JIra ticket at our side to look into this issue. Will update once its fixed. Thanks.

[2021-05-26 07:07] abhilash-aot commented on #43
@F5Brewery Thanks for the suggestion. We jave taken this up. And also working on a local keycloack setup without ssl/providing a easier  import  setup of the same. Thanks and wait for the new release version 4. Thanks

[2021-05-26 07:07] #43 closed

[2021-05-26 07:22] abhilash-aot commented on #46
Creating a ticket on this will solve on version 4

[2021-05-26 07:25] abhilash-aot commented on #47
This will be fixed in version 4. Will update generic workflows

[2021-05-26 07:35] abhilash-aot commented on #83
Fixed in version 4 .

[2021-05-26 07:37] abhilash-aot commented on #80
Will be updating the readme  documents for keycloack and associated config . Also will add a import json for easier realm export

[2021-05-26 07:37] #80 closed

[2021-05-26 07:39] abhilash-aot commented on #48
We have taken the request for providing a import realm json for keycloak . This will be available from version 4. Thanks .

[2021-05-26 07:39] #48 closed

[2021-05-26 07:42] abhilash-aot commented on #79
Will be Improving the readme/providing keycloak config for import for easier spin up in version 4

[2021-05-26 07:42] #79 closed

[2021-05-26 10:52] abhilash-aot commented on #56
This is fixed in version 4 .

[2021-05-26 10:52] #56 closed

[2021-05-26 13:48] parsonsalan1 opened #93 "issue with camunda alpha build still"
I followed the directions to a t, but when I build with docker I get this, I even used the automated keycloak setup (I also setup a secure keycloak server before that).

|   Camunda BPM Spring Boot Starter: (v7.13.0)
forms-flow-bpm_1                  |
forms-flow-bpm_1                  | 2021-05-26 14:51:50.339  INFO 1 --- [
main] o.c.b.e.k.showcase.CamundaApplication    : Starting CamundaApplicat

[2021-05-26 15:30] parsonsalan1 commented on #93
I even verified with postman all good. I guess i'm confused that why in the postman example you enter your user/pass but in the env you don't... Also the main error here is in camunda  urllib.error.URLError: <urlopen error [Errno 111] Connection refused>

which it is connecting to port localhost:8080 which is what the keycloak docker compose file uses.

[2021-05-28 03:48] abhishekbeesony opened #94 "History Application always empty. Do i need to do some configuration? Application status always new not did changed after approved."
![image](https://user-images.githubusercontent.com/66721640/119926628-c797bd80-bf88-11eb-916a-3da1aac47c88.png)
![image](https://user-images.githubusercontent.com/66721640/119926710-eb5b0380-bf88-11eb-987a-5f406af75fc6.png)
Thank you

[2021-05-28 14:03] parsonsalan1 commented on #93
HI so i figured it out, needed to use host.docker.internal... anyways afte rthat it is up and running but when i log into formsflow ai i get logged out after 5 seconds. I'm looking at the timeout settings and I have all pretty high, am I missing something?

[2021-05-28 17:46] parsonsalan1 commented on #93
well now there are all sorts of cors issues, which I fixed by changing this from * to this APP_SECURITY_ORIGIN=http://host.docker.internal:3000 , had to adjust the redirects in keycloak, etc.. just a mess

also now getting this in the UI and can't access 5000/api {"error":"access_denied","error_description":"Invalid token does not contain resource id (camunda-rest-api)"}... I think there needs to

[2021-06-03 16:36] abhilash-aot commented on #46
Solved on New v4 release

[2021-06-03 16:36] #46 closed

[2021-06-06 07:28] yhrchan opened #99 "Camunda unable to get access token from Keycloak server"
## Bug Report

### Please provide information about your setup

- formsflow.ai Version: latest code from git repo
- Browser: Edge
- Browser version:

### Steps to Reproduce

1. Followed steps to install Keycloak server based on the following instructions -> https://github.com/AOT-Technologies/forms-flow-ai/blob/master/forms-flow-idm/keycloak-setup.md and I was able to verify Postman calls to test

[2021-06-10 03:04] abhilash-aot commented on #93
@parsonsalan1 thanks for using the solution. Can you try with a new alpha build and updated readme instructions? Most of the issues you mentioned would be fixed

[2021-06-11 09:14] seethalelias-aot opened #106 "Error in console"
Bug Report: Getting error in console

Issue: Could not connect to API server while submitting form

- formsflow.ai Version: forms flow v4
- Browser: Google chrome
- Browser version:  Version 91.0.4472.101 (Official Build) (64-bit)

### Steps to Reproduce

1.http://localhost:3000/form
2.login as client
3.submit a form

### Observed Behaviour
Screenshots:
![1](https://user-images.githubusercontent.c

[2021-06-11 10:04] abhilash-aot commented on #106
This is currently a known issue and expected behavior. Will update in changelog know issues list for now.

- This occurs because we are having the list of users in keycloak only and not in formio Db. The react-formio (https://www.npmjs.com/package/react-formio) component by default checks for the user to be available in formio db with the /current api on each submission regardless of using a exter

[2021-06-11 10:04] #106 closed

[2021-06-11 14:58] abhilash-aot commented on #81
The issue is fixed in new release.
- For further update on this try` docker volume prune` to remove any dangling images.  and delete the mongod folder in the deployment folder and start the forms-flow-forms again with up --build option

[2021-06-11 14:58] #81 closed

[2021-06-11 15:01] abhilash-aot commented on #93
Have fixed the cors issues in the latest release 4.

[2021-06-11 15:01] #93 closed

[2021-06-12 03:07] abhilash-aot commented on #86
@jiuaige  Please try with the new release . The issues would be fixed. Thanks for trying the solution

[2021-06-12 03:07] #86 closed

[2021-06-12 03:08] abhilash-aot commented on #94
This is fixed in the new release please check . Thanks

[2021-06-12 03:08] #94 closed

[2021-06-12 03:12] abhilash-aot commented on #99
@yhrchan  There is a new release given ,this should solve your issues . Can you try with the updated installation guide in  documentation .

[2021-06-12 03:12] #99 closed

[2021-06-12 10:26] yhrchan commented on #99
Hi @abhilash-aot

Just git clone v4 and starting to follow the new installation documentations but ran into some issues building the forms-flow-analytics container as shown in the screenshot below.

For Windows,
Run docker-compose -f docker-compose-windows.yml run --rm server create_db to setup database and to create tables.
Run docker-compose -f docker-compose-windows.yml up -d to start.

![2021-

[2021-06-13 15:37] abhilash-aot commented on #99
Hi @yhrchan ,
Thanks for reporting. Seems like the issue is with the system time/docker vm. Can you check the System time / Restart docker and try once. Refer [link](https://askubuntu.com/questions/1059217/getting-release-is-not-valid-yet-while-updating-ubuntu-docker-container). Please let us know if you still run into issue again. We will check deeper into the issue. Thanks.

[2021-07-02 09:20] abhishekbeesony opened #117 "When using FormConnectorListener, why values from previous forms submited not appear in the second form?"
Hello All,

I was try to use the formconnectorListener. Client submit forms with fields name , age and address. Now when Reviewer claims it , there is a second forms that display for the reviewer(internal form) which has fields name , age , address and COMMENTS.

So when the review claim , the name , age and address should automatically appear in the second forms and reviewer should only add his c

[2021-07-02 10:18] abhilash-aot commented on #117
@abhishekbeesony You would have to customize/ add a new listener to achieve this. The current example doesn't fill for the next form. You could see the previous form in history in that particular example. We will be coming up with a new example/workflow in our next Release.  You would need to edit the workflow as per your business logic. Please contact support@aot-technologies.com/info@formsflow.a

[2021-07-02 10:18] #117 closed

[2021-07-04 16:20] EricRossC opened #119 "Fail to install Analytics Engine following the instructions"
## Bug Report

### Please provide information about your setup

- formsflow.ai Version: RC4.0.0
- Browser:  Chrome
- Browser version: Latest

### Steps to Reproduce

0. Create a new VM and install a fresh copy of Rocky Linux 8.4
1. Follow the steps in https://github.com/AOT-Technologies/forms-flow-ai/tree/master/deployment/docker
2. Follow Keycloak steps in https://github.com/AOT-Technologies/form

[2021-07-05 15:21] abhilash-aot commented on #119
@EricRossC  We will check and update you on that issue. Meanwhile, you can ignore that step and continue with other steps keeping the default values for analytics.

[2021-07-13 18:45] abhilash-aot commented on #119
Updated Analytics installation in https://github.com/AOT-Technologies/forms-flow-ai/releases/tag/v4.0.1 . Please Check.

[2021-07-13 18:45] #119 closed

[2021-09-27 22:45] zmezei-proxifile opened #149 "The forms-flow-analytics component crashes"
## Bug Report

### Please provide information about your setup

- formsflow.ai Version: v4.0.2, git commit ID: 1735fdef8d49227369fa753da12c2d0cff8f5188
- Browser: (irrelevant)
- Browser version: (irrelevant)

### Steps to Reproduce

1. Set up a local Keycloak with the default config
2. Set up forms-flow-forms with the following setup:

`sed "s/{your-ip-address}/localhost/g" sample.env > .env`

3.

[2021-09-28 06:19] kurianbenoy-aot commented on #149
@zmezei-proxifile what is the operating system you are using? Is your system meeting per-requisities of the system to have greater than 16GB RAM?

I was able to get the redash while running the same commands you mentioned to setup the redash logs. Yet a colleague of mine faced same issues when bring forms-flow-analytics component up in their system. We are looking more into it.

[2021-09-28 07:29] zmezei-proxifile commented on #149
@kurianbenoy-aot - there are two systems I've tried to test on:

- my own machine has 64 GB of RAM and is running Arch linux, docker version 20.10.8 and compose version 1.29.2
- the server machine has 16 GB of RAM and is running Amazon Linux 2, docker version 20.10.7 and compose version 1.29.2

I've tried to increase the memory from 16 GB to 32 GB on the server machine, but it didn't help:

[code]

[2021-09-28 07:55] kurianbenoy-aot commented on #149
@zmezei-proxifile it looks like an environmental issue reported by Redash team.

https://github.com/getredash/redash/issues/5593

A temporary fix which worked for us by changing line 5 in the [docker-compose file](https://github.com/AOT-Technologies/forms-flow-ai/blob/master/forms-flow-analytics/docker-compose-linux.yml#L5) by `image: redash/redash:preview`

[2021-09-28 08:19] zmezei-dpc commented on #149
I can confirm I was able to build the DB using the official redash/redash:latest image:

[code]

However with this image the scheduler can't start properly:

[code]

This can be resolved by changing the entrypoint from `dev_scheduler` to `scheduler` - I guess this Redash version only supports the latter one.

I hope this can be fixed permanently soon, as I suspect we'll get some CORS errors with t

[2021-09-28 08:27] kurianbenoy-aot commented on #149
You can continue with the rest of formsflow.ai setup, without using analytics. In the upcoming version, we are planning to upgrade to latest version of Redash v10(stable), as soon as it's released(which is expected in a week or two). The redash team is

Yes you will run into CORS issues when connecting analytics component with formsflow.ai. We will see what we can do and let you know.

[2021-09-28 14:09] man-chi opened #150 "how to access form without authentication"
right now, if accessing port 3000, authentication is always required. but in the case of public form access,  it is common to have the form available without login first (a.k.a guest user or anonymous user) . may I know how to setup form access without authentication required, or else, can we create a guest user in keycloak?

[2021-09-28 15:09] abhilash-aot commented on #150
@man-chi

You need to update form submission react route (form/:formid/) at forms-flow-web or add a public route pointing to the same component, update component a bit to work without authorisation or temp authorisation (with generation of a forms-flow-forms token related to anonymous forms-flow-forms id) and also add forms-flow-forms anonymous role for giving create submission permission while sa

[2021-09-29 08:15] man-chi opened #151 "how to deploy the data across multiple environments: from dev -> staging -> production"
after we setup all the form in form.io,  process model in the dev env, is it possible to automate the deployment such as exporting the data and import to Staging and also production? otherwise, it will be manually configuring all the form and process in each environments which will be subjected to manual mistakes and errors.

kindly advise.

[2021-09-29 08:48] shibin-aot commented on #151
The feature is still in the alpha stage of release to our open source. You can expect the import/export feature in the upcoming releases. We will confirm the release details on the same thread.
Meanwhile, you can use form.io own rest endpoints to do the export from formsflow.ai as well, it works. Let me know if I answered you.

[2021-09-29 09:04] man-chi opened #152 "how to redirect one form to another form based on the result of workflow process?"
currently, the implementation will be like the following: form-1 -> submit form-1 -> execute process-A  (unable to notify the frontend on the process result)

however, we would like to build multiple form wizard with workflow engine like this: form-1 -> submit form-1 -> execute process-A -> based on the conditional result of process-A, if true then display form-2, else if false then display form-3

[2021-09-29 09:23] shibin-aot commented on #152
To associate redirect form, you can use camunda's task extensions.
You can add the property formName (Name) and {formName from form.io} (Value) as extension property, doing this will add the New formName as external property.   eg: Key : formName, Value : createNewBusinessLicenseApplication

To complete the association you also have to add FormConnectorListener in the Task Listener of camunda work

[2021-09-29 09:30] man-chi commented on #152
@shibin-aot thanks for your prompt reply. is the FormConnectorListener calling back to the form.io by websocket? does it work on the form.io wizard feature as well?

[2021-09-29 09:40] shibin-aot commented on #152
No with FormConnectorListener you can only associate a new form with a task of an existing workflow.
The new form will show in the RHS of the task on click

[2021-09-30 03:44] Preethamkv commented on #152
@shibin-aot We tried adding the FormConnectorListener in the Task Listener of Camunda workflow as mentioned in the reference document. But the redirection is not working, not sure what are we missing here.
Also, will it redirect to the new form on form submit (OR) will be shown as Task in the task list?

[2021-09-30 06:04] shibin-aot commented on #152
It will be shown as a Task in the Task list.

[2021-09-30 07:25] man-chi commented on #152
@shibin-aot may I know what is the setting & configuration required on the form.io(form designer) in order to handle the listener?  then perform redirection on the UI?
e.g. form-1 submission -> workflow with formconnectorlistener -> do validation check -> if true -> redirect user to form2 , if false  -> redirect user to form3 . do we need to configure any setting in form1, form2 or form3 , in orde

[2021-09-30 09:05] shibin-aot commented on #152
No 👍 . Only workflow changes are sufficient

[2021-09-30 10:49] DivyaKMenon commented on #150
@abhilash-aot Thanks to you. Your suggestion worked. We were able to publish the form publically. But we are not able to view the anonymous submissions in forms-flow-web UI. Is there anything else we will have to add like permissions/roles to enable it?

[2021-09-30 14:37] Preethamkv commented on #152
@shibin-aot After debuging the problem got to know that process associated with form is not initializing when the Task-Listener has added to the process workflow. Is there any config to be added? Attached the workflow we are using. Please let us know if u need any other details.
<img width="1413" alt="Screenshot 2021-09-30 at 8 05 28 PM" src="https://user-images.githubusercontent.com/35090978/1354

[2021-10-01 04:43] darsana-dinesh opened #154 "Analytics not showing up in the web app"
After creating a dashboard in Redash (port 7000) and publishing it, are there other changes to be made to make the dashboard available in the web app (port 3000) when logged in as a designer? Right now the dashboards are listed but on click, it does not load on to the UI.
![image](https://user-images.githubusercontent.com/33888539/135566348-e524baa0-7703-470c-9cfd-b8701a190584.png)

[2021-10-01 05:33] kurianbenoy-aot commented on #154
@darsana-dinesh what is the redash version you are using? Did you use the same docker-compose configuration which we have [provided here](https://github.com/AOT-Technologies/forms-flow-ai/tree/master/forms-flow-analytics)?

Also to understand the issue more it would be great if you can share screenshots of network tab, to see if it's caused due to any CORS issues?

[2021-10-01 06:16] shibin-aot commented on #152
Please make sure that you added the extension correctly, also the input fields.
![extention](https://user-images.githubusercontent.com/83489861/135574284-c9869b04-8de1-40df-a621-52483c3d710d.PNG)
![input](https://user-images.githubusercontent.com/83489861/135574319-1ba0374f-d3c9-429e-8239-b2b1a11c4f42.PNG)

[2021-10-01 07:20] darsana-dinesh commented on #154
@kurianbenoy-aot
Thank you for the response. We got it working now. The issue was that we had not enabled the 'Allow public access' in the
Share Dashboard options. After enabling that, we were able to see the dashboards in the web app.
Please update this in the docs for analytics if possible.

[2021-10-01 07:28] kurianbenoy-aot commented on #154
Thanks @darsana-dinesh. We didn't know it was added in the documentation. We will add it to documentation in the upcoming release.

[2021-10-01 07:28] #154 closed

[2021-10-01 07:46] man-chi opened #155 "port 8000 camunda cockpit auto timeout in 30 sec after login"
we have setup the AWS environment with all stacks running such as formsform frontend, formsform backend, dashboard and camunda service. all the rest of services are running fine, however after successfully login using "formsform-designer" user to the port 8000 (camunda cockpit). within 30sec, the authentication to cockpit page will be timed out and redirected to the keycloak login page again.

ste

[2021-10-01 08:45] zmezei-proxifile commented on #155
The error message we see in the Keycloak docker container's log is this:

[code]

It seems that `userId` is set to null, which might not be OK.

[2021-10-01 08:59] man-chi commented on #155
hi aot members,

due to some reason, userId is set to null , can you kindly advise on this?

[2021-10-01 17:19] DivyaKMenon commented on #150
@abhilash-aot From PublicRoute.js only formiotoken is set and not the Keycloak token (authToken). Should we be setting that for an anonymous user? The API in 5000 port is expecting an authToken to be sent for CREATE but the same is not provided from the web while calling the API.

[2021-10-04 05:10] shibin-aot commented on #155
In keycloak set the redirect uri as per the below screenshot under forms-flow-bpm clien
![camunda-keycloak](https://user-images.githubusercontent.com/83489861/135797476-cf296a19-9641-444f-b628-83c5c1fb1ea7.PNG)
t.

[2021-10-04 05:13] shibin-aot commented on #151
I will close this issue since this is not a bug, but an upcoming feature, and I hope I answered you.

[2021-10-04 05:13] #151 closed

[2021-10-04 05:14] shibin-aot commented on #152
Hope the steps are clear for you, if you further face any issues please let us know. I will close this issue for now.

[2021-10-04 05:14] #152 closed

[2021-10-04 07:42] man-chi commented on #155
@shibin-aot we have already setup the redirect URI before (as shown in the picture below), can you kindly help to take a look on what could have been missing still
<img width="1174" alt="Screen Shot 2021-10-04 at 3 40 34 PM" src="https://user-images.githubusercontent.com/84918340/135812235-778621f0-780a-491a-b06f-f06dfeb3f590.png">
?

[2021-10-04 07:56] kurianbenoy-aot commented on #149
@zmezei-proxifile we have patched the forms-flow-analytics components issues temporarily in the branch: https://github.com/AOT-Technologies/redash.git#redash-139errorfix

You can fix it with docker-compose update of [line5 here](https://github.com/AOT-Technologies/forms-flow-ai/blob/master/forms-flow-analytics/docker-compose-linux.yml#L5) as follows.

[code]

 We will be merging to master branch i

[2021-10-04 08:54] shibin-aot commented on #155
Add localhost / host name also along with the redirect uri

[2021-10-04 09:17] man-chi commented on #155
@shibin-aot is the setting like this?
<img width="767" alt="Screen Shot 2021-10-04 at 5 17 12 PM" src="https://user-images.githubusercontent.com/84918340/135825702-ee89e9c9-f146-48f2-a4f2-bc2bce11c129.png">

[2021-10-04 09:22] man-chi commented on #155
after access the camunda cockpit for 10sec, it still always timeout, redirecting to login page. http://10.2.50.133:8000/camunda/app/cockpit/default/#/tasks
<img width="1413" alt="Screen Shot 2021-10-04 at 5 18 55 PM" src="https://user-images.githubusercontent.com/84918340/135826377-5c698d02-29ca-44a4-b1dc-787915f1cae3.png">

[2021-10-04 09:50] shibin-aot commented on #155
Yes the localhost is correct, you can remove the other 2 and access camunda using localhost / hostname instead of ip

[2021-10-04 10:03] man-chi commented on #155
I have tried to set redirect URI to be "http://localhost:8000/camunda/*"
however,  encountered error immediately when trying to access camunda cockpit url below.
http://10.2.50.133:8000/camunda/app/cockpit/

<img width="991" alt="Screen Shot 2021-10-04 at 6 00 26 PM" src="https://user-images.githubusercontent.com/84918340/135832351-114bdee2-4aa3-413c-83f1-7c4f80628539.png">

[2021-10-04 10:07] zmezei-proxifile commented on #155
From the context of the running Camunda instance, Keycloak on "localhost" is probably not available. Keycloak and Camunda are started from different docker-compose files, so they create different networks. For this to work, I think the host IP is required for hte communication.

[2021-10-04 10:09] man-chi commented on #155
@zmezei-proxifile , should we assign a hostname/domain name to private IP  10.2.50.133 and try to use internal domain instead?

[2021-10-04 10:11] man-chi commented on #155
@shibin-aot please help to advise. localhost in redirect URI does not work , having an error. please kindly advise on the next step

[2021-10-04 10:26] shibin-aot commented on #155
Please refer to this screenshots, it should work.
![camunda](https://user-images.githubusercontent.com/83489861/135835549-7cbfbe71-ede4-44bd-84b4-5dfd4c94e258.PNG)
![cockpit](https://user-images.githubusercontent.com/83489861/135835559-48552917-6057-49c4-8bbf-8f9ea550f528.PNG)

[2021-10-04 13:12] man-chi commented on #155
@shibin-aot I tried the localhost and * like you have mentioned above but unfortunately, it still timeout after 10 sec, redirecting to login page.

@zmezei-proxifile possible to get keycloak and camunda running on the same network under  localhost or any private domain name?

[2021-10-04 13:16] shibin-aot commented on #155
Let me know if you are available to join for a quick google connect, so we can resolve the issue. shibin.thomas@aot-technologies.com is my email id. Let me know your availability, I can schedule one meeting.

[2021-10-04 13:21] man-chi commented on #155
I am in Asian timezone +8GMT; Zoltan, Devops expert, is in Central European +2 GMT ,

as a result, our best overlap timeslote will be from 7am PST to 9am PST daily.  how about you?

Manchi Leung
VP Engineering | Proxifile Inc.
Claims as a Service

+886-921935451 <tel:510-910-3838> | Line ID: manchi.leung

***@***.*** ***@***.***>
	www.proxifile.com <http://www.proxifile.com/>

9F No. 287, Sec. 3,

[2021-10-04 13:36] shibin-aot commented on #155
We work on IST, so 10 AM IST to 7 PM IST I will be available for calls. You can mail me with your availability

[2021-10-04 20:38] EderGuima commented on #155
Hey guys!
Almost same problem here. But we arnt been redirect with timeout instead when we click some where on page.
Our console log are returning 400, 401, 403, 404

![image](https://user-images.githubusercontent.com/48599995/135920726-ce7fd11c-6516-4c38-9360-450819e8279a.png)

and then...

![image](https://user-images.githubusercontent.com/48599995/135920811-640a1f90-12f0-46ff-a173-2a039cd85f00.

[2021-10-05 00:52] kurianbenoy-aot commented on #149
Merged to master branch as well

[2021-10-05 00:52] #149 closed

[2021-10-05 07:08] DivyaKMenon commented on #150
@abhilash-aot The Bearer token passed from the form is showing undefined. Please let us know if we have missed out something. Adding a screenshot for the API.
<img width="1603" alt="Screenshot 2021-10-05 at 12 34 06 PM" src="https://user-images.githubusercontent.com/9332986/135976268-e77bb09c-9edf-467c-84de-b0cdec4789bc.png">

[2021-10-05 07:13] DivyaKMenon commented on #150
@abhilash-aot The Bearer token passed from the form is showing undefined. Please let us know if we have missed out something. Adding a screenshot for the API.
<img width="1603" alt="Screenshot 2021-10-05 at 12 34 06 PM" src="https://user-images.githubusercontent.com/9332986/135976880-5a416fa2-ed4e-454f-ac04-d376911af3e9.png">

[2021-10-05 07:41] abhilash-aot commented on #150
@DivyaKMenon  You are right we need to have an Anonymous User in Keycloak/ temporary created keycloak token too for achieving this. Temporary keycloack token can be generated from grant type like using client id and pass it. Would need to  tweak the userservice.js code too adding an anonymousKeycloakAuthInit function which calls the keycloak login api and then authenticates instead of initKeycloak

[2021-10-05 09:36] DivyaKMenon commented on #150
Okay. Thank you got your point. Will check and update you in case of any queries.

[2021-10-05 09:46] zmezei-proxifile opened #157 "The Camunda component can't be rebuilt when a database already exists in its directory"
## Bug Report

### Please provide information about your setup

- formsflow.ai Version: v4.0.2
- Browser: (irrelevant)
- Browser version: (irrelevant)

### Steps to Reproduce

1. Have forms-flow-bpm up and running with its postgres database.
2. Try to rebuild with the following command, suggested by the documentation:
[code]

### Observed Behaviour

The build doesn't happen with the following erro

[2021-10-05 10:12] man-chi commented on #151
may I have when is the release date for the import/export form data from the form.io ?

[2021-10-06 04:58] shibin-aot commented on #157
_The build doesn't happen with the following error message:_
Can you provide some more details? Did you move the camunda directory before you run this command? What was the purpose you rebuilt the whole project?
_Renaming postgres to postgres-backup-2021-10-05 was not enough in this case, the build process still found the directory with this name, had to move out of the component's directory._
Yea

[2021-10-07 14:08] darsana-dinesh opened #162 "Custom logic in button actions"
From my understanding, form.emit(submitDone, custom function) is used to trigger the custom function written for the form submission instead of the default one. Also, this custom function needs to be defined along with the custom logic.
My question is, we already have application/create(5000 port i.e. formsflow API) and form/submission(3001 port. i.e. formio api) defined. Is it possible to trigger

[2021-10-13 08:21] DivyaKMenon opened #165 "Form access get reset in Form.io dashboard"
We have set up the public route and anonymous form submission. As AOT team suggested, we have setup access permission for the anonymous user in the form.io dashboard(3001). The problem we are facing is that, once we set the roles for "Create Own Submission", and after making a certain number of submit requests from the web, the roles get reset to default config and we will have to do the setup aga

[2021-12-09 11:16] siva-krishna-m opened #182 "Incorrect URL getting called for KeyCloak"
I have followed the istructions and have installed the complete modules. While trying to run the FormsFlow Web on port 3000, I see that the following call in netwrk tab is failing. can you please guide on this. I see there is some duplication in the URL, but this is captured as is from the Network Tab

http://localhost:3000/undefined/auth/realms/forms-flow-ai/protocol/openid-connect/undefined/auth

[2021-12-09 13:04] abhilash-aot commented on #182
Can you share the Env of keycloak you have added. Seems Env for keycloak is missing

[2021-12-10 05:13] #182 closed

[2021-12-10 06:30] siva-krishna-m commented on #182
I used command 'docker-compose up --build -d' in forms-flow-web and its working fine

[2021-12-13 09:01] abhishekbeesony opened #183 "Using exclusive gateway on bpmn, when it comes to the flow, on formsflow.ai upon clicking on process diagram, it lands to a blank page."
![image](https://user-images.githubusercontent.com/66721640/145782242-0acdf22a-0557-42d9-9737-89b9e399734d.png)
![image](https://user-images.githubusercontent.com/66721640/145782251-fcb25605-6602-49aa-bb2f-7c1fa3a4be35.png)

Please suggest some solution.

Thank you.

[2021-12-16 05:14] abhishekbeesony commented on #183
@sumathi-thirumani-aot Can you please help me to solve this issue. Thank you

[2022-02-01 19:06] andrepestana-aot opened #215 "Camunda token expired when requests Form.io"
## Bug Report

I'm reporting it because I think it may be useful for someone testing it in their local machines. It shouldn't happen in a production environment though.

Camunda has a scheduled process "Formio Access Token Cache (Internal)" that tries to access the network but with WSL2 sometimes
the network is not available for some reason and the process fail.

### Setup

- Formsflow.ai version:

[2022-02-08 23:00] sumesh-aot opened #217 "Create CI Pipeline for forms-flow-api"
Create CI Pipeline for forms-flow-api

[2022-02-10 04:23] sumesh-aot opened #218 "Improve Logging"
Improve Logging across layers

[2022-02-10 04:24] sumesh-aot opened #219 "Observability"
Analyze observability tools and adopt

[2022-02-10 04:24] sumesh-aot opened #220 "Improve resource utilization"
Improve resource utilization mainly on bpm side

[2022-02-10 11:39] coolhlm opened #221 "X-XSRF-TOKEN loss when visits Camunda"
The entire project has been deployed in my local machine,everything runs successfully when visits camunda whith 'http://localhost:8000/camunda', but something wrong when i change 'localhost' to  local ip ('http://192.168.19.12:8000/camunda').I got a 403 code  and lead to the login page when visited 'http://192.168.19.12:8000/camunda/api/engine/engine/default/group?maxResults=25&firstResult=0',it s

[2022-02-11 22:37] sumesh-aot commented on #221
@coolhlm Thanks for contacting us. All of the components (forms, camunda) in this solution is protected by keycloak. The one attached in your screenshot is camunda login form (not keycloak login form). Can you check if the components are configured correct for keycloak authentication? May be try in an incognito window and watch the network tab and let us know ?

[2022-02-18 08:43] abhilash-aot commented on #165
Hi @DivyaKMenon and @man-chi ,
We have implemented the forms Anonymous feature and pushed to v4.0.5-alpha branch as of now. You can refer that or use that branch for getting this functionality. We have added changes to UI/ Api layer to accomodate this change. Thanks.

An option is added at the Design of form to achieve this.

![image](https://user-images.githubusercontent.com/61222674/154647956-84

[2022-02-18 08:43] #165 closed

[2022-02-20 18:41] #183 closed

[2022-02-20 18:42] abhishekbeesony commented on #215
@abhilash-aot Is there a way how this can be done without generating the token manually?..

[2022-02-24 11:38] SumitMtx opened #227 "Submission can not be done from client - Unauthorized"
Hi,
I configured the roles also correctly by hitting the roles api and pasted in .env file. Is there any issues with request token?
Can you please help me resolving this error.
And one more thing where will i get this value "FORMIO_JWT_SECRET". Currently i copied the token from browser from token api, may be it will expire.
![image](https://user-images.githubusercontent.com/90691983/155516963-cdc6

[2022-02-24 15:47] kurianbenoy-aot commented on #227
@SumitMtx you can get the value of `FORMIO_JWT_SECRET` from whatever value you have set in [forms-flow-forms setup](https://github.com/AOT-Technologies/forms-flow-ai/tree/master/deployment/docker#forms-flow-forms-setup). By default value is `--- change me now ---` and don't copy the token from browser as it's keycloak token, and for the forms we are using a formio token.

I feel the submission is

[2022-02-25 03:54] SumitMtx commented on #227
@kurianbenoy-aot After changing  FORMIO_JWT_SECRET to default value now api connection is failing while click on submit form. screenshot is attached below.
![image](https://user-images.githubusercontent.com/90691983/155650654-52110307-8070-4e36-825a-85527f085e97.png)

[2022-02-25 10:09] SumitMtx commented on #227
@kurianbenoy-aot @georgephilip-aot
After few minutes of docker restart this error gone and still same error is there as in original question.
**Unauthorized**

Now i have default value of FORMIO_JWT_SECRET in .env file.

[2022-02-28 18:16] SumitMtx commented on #227
@kurianbenoy-aot  @abhilash-aot Can you please help me resolve this issue. It is working fine for three default forms. But getting Unauthorized error after creating a new form and try to submit that from client.

[2022-02-28 20:25] abhilash-aot commented on #227
@SumitMtx Can you give bit more context on the problem of new forms not submitting ? Did you save the forms in from the Ui or added it from postman or form.io Url ? You may just need to edit the form and save  back in the fromsflow UI as designer . Also have a recheck of roles IDs to make sure.

[2022-03-02 13:24] SumitMtx opened #230 "Not able to see submitted applications in tasks to approve"
I am trying a submit a form with two step approval process from client and review it from clerk/reviewer. Form submitted and also showing in applications while log in from clerk/reviewer but tasks are not displaying so how to review these applications.
Another scenario - For one application, task is showing and option to claim it but action section is not displaying to review it.
Please help.

[2022-03-02 13:27] SumitMtx commented on #230
@abhilash-aot or anyone

[2022-03-02 15:18] gagovictor opened #231 "WebAPI and BPM containers don't start properly"
Hi, I followed the docker installation instructions and so far have not been able to get the forms-flow-webapi and forms-flow-bpm containers to run. All others are running as expected:

![docker1](https://user-images.githubusercontent.com/36168165/156389848-2f37fe68-9581-4110-81b3-21b2cbb292ae.JPG)

Upon examination, these are the error messages displayed:

forms-flow-webapi container:

![docker2]

[2022-03-10 18:45] SumitMtx opened #237 "Can not see review section after login in from approver group"
![image](https://user-images.githubusercontent.com/90691983/157733059-a10bfe2a-d9e8-4c7b-9ea8-73b8c3f400d2.png)

As you can see that i am not able to see review section in the form after login in from clerk/reviewer/approver. Can you please help me out in this, what is missing?

[2022-03-10 18:47] SumitMtx commented on #237
@abhilash-aot @kurianbenoy-aot @praveen-aot please help

[2022-03-13 17:25] SawantDarshan commented on #231
@gagovictor  Did you able to solve this issue?

[2022-03-18 04:26] sumesh-aot commented on #231
@gagovictor From logs and screenshot it looks like the container cannot reach localhost. Since you are using docker containers, localhost won't be reachable from within container. Can you try with IP address instead of localhost ?

[2022-03-18 04:27] #217 closed

[2022-03-18 04:27] #218 closed

[2022-03-18 04:27] #219 closed

[2022-03-18 04:27] #220 closed

[2022-03-18 04:34] abhilash-aot commented on #237
Hi @SumitMtx , Review Section should be added at designer level while designing the forms and add a condition to that section to display on a particular group of the owner and status at which this should be shown .

![image](https://user-images.githubusercontent.com/61222674/158937649-cb43c805-dbe0-4a35-98ab-015419412fea.png)

Adding a sample for you to add a condition in form Design. This should

[2022-03-18 04:38] abhilash-aot commented on #230
Hi @SumitMtx  Sorry for the late Reply.
Can you check the forms were published and associated to the workflow. Workflow associated forms only will have tasks.

@SumitMtx  Please Refer this Answer for Review Section not showing https://github.com/AOT-Technologies/forms-flow-ai/issues/237#issuecomment-1072023158

[2022-03-18 04:40] abhilash-aot commented on #215
@abhishekbeesony  We are working on a new mechanism to generate formio token differently without the workflow in camunda. That should fix this.

[2022-03-22 06:49] abhishekbeesony opened #241 "Email Notification"
I have run the latest branch formflow.ai and also configure the notifyListener  will will send email when the task is created to a group of users that are defined in the keyclock as clerk.

I wondered if there is another listener where is send individuals email when the task is created.

Example: Task A is created and automatically assigned to TOM and when the listener will called , it will  notif

[2022-03-22 12:04] SawantDarshan commented on #231
@sumesh-aot I have already changed and tried with ip address still same issue is reflecting

[2022-03-25 11:19] Constey opened #242 "formfs-flow-analytics -> keycloak error "LOGIN_ERROR" client_not_found"
Hi there,

ive configured keycloak and analytics as described in: https://github.com/AOT-Technologies/forms-flow-ai/tree/master/forms-flow-analytics#configuration-of-keycloak-saml-setup

But when trying to logon with saml Im getting a "invalid request" error:
![image](https://user-images.githubusercontent.com/11457386/160111519-df36ff7e-44df-4ff4-9f51-8b9a66b33ff6.png)

![image](https://user-image

[2022-03-25 16:54] #241 closed

[2022-03-26 20:02] abhishekbeesony commented on #241
Hi @abhilash-aot,

I have tried the way you explained, nut email are being sent to all user that are in the clerk group.

Can you please help?

Thank you.

[2022-03-30 04:53] abhishekbeesony opened #249 "pid value is blank"
When triggering the escalation listner, i have sucessfully recieved the email, but in the email the pid value is not rendering.

Dear Team,

You have exceeded the deadline for the task.

Application Number : 7

Please click the following link to access your new task.

To access the task through [formsflow.ai](https://protect-za.mimecast.com/s/nUihCxG5BLTln5Vtvd5xI?domain=formsflow.ai) please follo

[2022-04-06 11:07] xalcolm1 commented on #231
Any updates on this issue? I tried changing the ip address as well.

[2022-04-06 15:09] sumesh-aot commented on #231
@xalcolm1 Team is working on a quick installation script to rule out any ip configuration issue, will let you know once it's in place.

[2022-04-06 15:18] xalcolm1 commented on #231
Update: I got my instance working, the ip address needed to be the docker ip address range.
I used the command `ip addr `
and then looked for docker, mine was called docker0, and used an address from that range.

[2022-04-06 15:26] sumesh-aot commented on #231
Glad it's working for you. Thanks for the update!

[2022-04-13 16:20] xalcolm1 commented on #230
Hello  @abhilash-aot , I have a workflow associated form (two-step approval) and tried adding the review section as is mentioned in #237, however neither of these changes allowed me to see the task in the tasks section

[2022-04-26 13:24] #249 closed

[2022-05-03 14:18] NilsBaumgartner1994 opened #361 "All in one Docker-Image"
The installation is quite complicated and not good for a plug & play. Would like to see something like a single image which can be started.

[2022-05-06 07:20] alanraju-aot commented on #361
I think you should try our new method of quick installation, that is been added into the deployment\docker\bundle folder. Here each images are directly taking from the docker, so that the time taken to build the image has been reduced a lot, Now its simple and quick.

[2022-05-10 10:22] HedBes commented on #242
Same issue here.

Did you resolve it?

[2022-05-12 07:49] HarumiSystem opened #393 "Local Keycloak setup Error"
1. I installed Docker and my Docker works fine.
2. Follow the steps to install [Local Keycloak setup](https://github.com/AOT-Technologies/forms-flow-ai/tree/master/forms-flow-idm/keycloak#local-keycloak-setup)
3. I use Run `docker-compose up -d`
4. Here is the problem I encountered, `Error response from daemon: Post "http://ipc/filesharing/prompt": context deadline exceeded (Client.Timeout exceede

[2022-05-12 09:40] HarumiSystem commented on #393
[forms-flow-ai](https://github.com/AOT-Technologies/forms-flow-ai)/deployment/

Error response from daemon: Post "http://ipc/filesharing/prompt": context deadline exceeded (Client.Timeout exceeded while awaiting headers)

![Capture](https://user-images.githubusercontent.com/105417327/168041439-d6fe2df4-0dfb-4610-b1f7-37cdd796e956.PNG)

[2022-05-21 14:40] eddhib opened #434 "Single click installation Error"
Error cmd log :

Do you want analytics to include in the installation? [y/n]y
Do you have an existing keycloak?[y/n]?n
From https://github.com/alanraju-aot/forms-flow-ai
 * branch              master     -> FETCH_HEAD
Already up to date.
**ERROR: Version in ".\source\forms-flow-idm\keycloak\docker-compose.yml" is unsupported. You might be seeing this error because you're using the wrong Compose fi

[2022-05-22 09:15] #434 closed

[2022-05-24 07:53] alanraju-aot opened #442 "@alanraju-aot there is conflicts have a check with @shuhaib-aot for the latest updates . Have updated some change implementation at his side in docker-compose"
ok

[2022-05-24 07:54] #442 closed

[2022-05-26 22:20] smiller393 commented on #361
The single click install method seems useful, but only seems to work for windows correct?
Currently trying to install formsflow locally for local POC testing, but not having luck with the full docker install method.

[2022-05-27 04:01] alanraju-aot commented on #361
Single click installation is for both windows and linux. What issues are you facing with full docker install method? Do you mean the installation that the user manually install all the corresponding componants like keycloak, forms, web..etc.?

[2022-05-27 07:45] NilsBaumgartner1994 commented on #361
Correct,

The manual setup of these is good to keep it variable, but like in my situation I was comparing multiple tools.

A small demo website or atleast gifs of the tool would help to decide wether this software is useful for us. For this scenario a full setup docker image would be helpful, also for your future development to have one testbase for all.

Beste Grüße,
Nils Baumgartner

[2022-05-27 07:57] alanraju-aot commented on #361
Yeah, thanks for the suggestions, we will pursue on giving a small demo or gifs of full setup docker image. We had already planned in making it that will be much usefull for all the users that prefer to try formsflow.ai.

[2022-05-27 15:31] smiller393 commented on #361
For the full docker install, I could not get the keycloak UI to show at port 8080 after startup, and didn't see any obvious errors in the docker logs

[2022-05-27 16:01] alanraju-aot commented on #361
Sorry, the linux version will be releasing to the open source soon. You can see it on the next release.

[2022-05-27 16:08] alanraju-aot commented on #361
@smiller393 It will be released soon, Actually didn't fixed a date, will inform you when fixed.

[2022-05-27 16:10] smiller393 commented on #361
I won't be able to run the start.bat script unfortunately since I use a mac.

[2022-05-27 16:10] smiller393 commented on #361
Ok sounds good, I'll keep an eye out for it.

[2022-05-27 16:13] alanraju-aot commented on #361
@smiller393 Oh, So you can look forward for the next release. Even in the linux version, I think their might be some changes to run the bash file in a mac device, we can look into it after the release.

[2022-05-27 16:44] NilsBaumgartner1994 commented on #361
Will you notify here when the full install image is there?

[2022-05-30 03:47] alanraju-aot commented on #361
@NilsBaumgartner1994 sure

[2022-06-07 14:12] mojtaba1969 opened #489 "I can not install completely"
Dear all
I have tried two times to install your product without any errors but both time same thing happened.
localhost 8080 and 7000 and 3001 look like working.
localhost 3001(form.io) working but I am not sure working properly.
localhost 3000(formsflow) not loading properly and just some couple of circles are waving or dancing.
localhost 8000 and 5000 are not reachable at all.
I have checked eve

[2022-06-07 14:34] mojtaba1969 commented on #361
any update about full install image ?

[2022-06-08 06:13] mojtaba1969 commented on #361
Thanks, I look forward to hearing you good news.

[2022-06-10 13:32] xalcolm1 commented on #489
I believe you are having the same problem I had, check out issue #231

[2022-06-14 02:06] lokoum opened #501 "Cannot build - docker deployment"
## Bug Report

### Please provide information about your setup

- formsflow.ai Version:  latest release 4.0.5
- Browser:  N/A
- Browser version:  N/A

### Steps to Reproduce

1. git clone https://github.com/AOT-Technologies/forms-flow-ai
2. cd forms-flow-ai\deployment\docker
3.  docker-compose -f docker-compose-windows.yml up --build -d

### Observed Behaviour

`#13 1.070 [INFO] Error stacktraces

[2022-06-28 00:42] Arekku21 opened #543 "SAML login issue"
[<a href="https://ibb.co/BwLBWzJ"><img src="https://i.ibb.co/BwLBWzJ/Error.png" alt="Error" border="0"></a>](url)

Hi Everyone! I hope you all are great. I am currently having a problem with the installation. I have installed till the Redash and followed the steps precisely. But for some reason I am having trouble with SAML login. As seen in the linked image, it goes to an invalid request problem.

[2022-06-28 07:02] Arekku21 commented on #543
Hi @abhilash-aot and @shuhaib-aot ! any idea how this can be fixed by any chance or if it was resolved before

[2022-06-29 06:56] nagannv opened #548 ""No forms found" , and 403 (Forbidden) and Could not connect to API server messages on the Formflow-Web UI login"
By taking the reference of docker deployment and OpenShift helm chart, we have created  deployment artifacts to deploy the form-flow application stack on OpenStack  kubernetes environment and exposed the application using ambassador loadbalancer. After keycloak authentication, we are able to can access web UIs of all the services in forms-flow stack, however, observing below issues om accessing th

[2022-07-01 01:31] Arekku21 commented on #543
The issue was resolved somehow by using the docker 1 step installation instead of the custom full deployment.

[2022-07-01 07:38] PhatWheZ opened #558 "Unable to perform IDM health check as documented"
Hi there,

Followed the documentation to setup the Docker environment on Linux, I cannot complete Keycloaks health check
Health Check
The application should be up and available for use in http://localhost:8080/

Login Credentials
-----------------
User Name : admin
Password  : changeme

When I browse to: http://{redacted}:8080 and click on "Administration Console", I get "We are Sorry... HTTPS req

[2022-07-01 08:09] Arekku21 opened #559 "API token authentication issue."
Hi everyone ! I am currently running into an authentication issue regarding the forms flow ai api.

The setup I have used is the single installation local docker setup. I have done the correct method to get the token thru the postman post rest api to get the token and tried to authenticate access to the api.

Unfortunately, I am running into errors. I have tried several checks to ensure that the t

[2022-07-01 08:39] PhatWheZ commented on #558
To Add... I completed the installation guide, however i cannot log in as a designer, user, reviewer, nor can I access Camunda by going to the IP address:8000/camunda as i get the same error message above "HTTPS required"

[2022-07-01 14:12] nagannv commented on #558
@PhatWheZ
hope you have followed the below steps to overcome _We are Sorry... HTTPS required_

[code]

[2022-07-04 07:23] PhatWheZ commented on #558
@nagannv, thanks this did help me get into Keycloak using http://{IP-Address}:8080

However I have the same issue when going to http://{IP-Address}:7000 > SAML Login
http://{IP-Address}:8080/auth/realms/forms-flow-ai/protocol/saml?
The above link also giving out "We are Sorry... HTTPS required"

I did use the above as instructed.

Any further suggestions

[2022-07-04 09:43] PhatWheZ commented on #558
@nagannv, I went through the entire build process from scratch again, ad at the end have the following issues:

https://github.com/AOT-Technologies/forms-flow-ai/blob/master/forms-flow-analytics/README.md
**HTTPS required** - Logout and login again using valid formsflow.ai keycloak user credentials. Default user credentials are provided [here](https://github.com/AOT-Technologies/forms-flow-ai/blob

[2022-07-04 10:13] PhatWheZ commented on #558
Came right after disabling SSL for realm/forms-flow-ai from the GUI

[2022-07-04 10:13] #558 closed

[2022-07-06 05:25] sumesh-aot commented on #559
@Arekku21 It could be issue with wrong `iss`. Can you try generating the token using the IP address URL instead of localhost ?

[2022-07-06 05:35] sumesh-aot commented on #548
Hi @nagannv,
- You can ignore the console error with /current, it's a known issue and we will look into it.
- Issue seems to be with BPM communication from web-api. Can you see any error log in BPM logs? Can you try adding `CAMUNDA_APP_ROOT_LOG_FLAG=DEBUG` to BPM and see if you can get more info on the error.
Reviewer and client not seeing the forms is related to above point, as no form is publish

[2022-07-06 05:37] sumesh-aot commented on #501
@lokoum Apologies for the delay. Can you please follow one click installation setup [here](https://github.com/AOT-Technologies/forms-flow-ai/tree/develop/deployment/docker/bundle) and see if it works ?

[2022-07-06 05:38] sumesh-aot commented on #489
@mojtaba1969 Can you please try easy bundle installation as [here](https://github.com/AOT-Technologies/forms-flow-ai/tree/develop/deployment/docker/bundle) and see if it works ?

[2022-07-06 05:39] sumesh-aot commented on #393
@HarumiSystem Apologies for the delay. Can you please try easy installation setup [here](https://github.com/AOT-Technologies/forms-flow-ai/tree/develop/deployment/docker/bundle) and see if it works ?

[2022-07-06 06:29] Arekku21 opened #568 "Multiple issues encountered with forms flow ai"
Hi ! I would like to share the various issue I had encountered while working on this project:

**1)**Full Deployment Docker Installation issues
![image](https://user-images.githubusercontent.com/70086993/177482582-c5457821-7357-4fd8-9cd0-c0deaad10375.png)

For this issue, I had encountered errors regarding the SAML . I have installed till the Redash and followed the steps precisely. But for some r

[2022-07-06 06:34] Arekku21 commented on #559
Thank you so much for the reply ! Ill give it a try

[2022-07-06 10:51] nagannv commented on #548
@sumesh-aot
Thank you for your kind response.
I made some progress today with after making some adjustments to deployment configuration

1) updated BPM_API_BASE with an URL that is publicly resolvable ( i.e https://camunda.formflow.click/camunda)
2) Including ZeroSSL CA cert in k8s Secrets
3) setting CORS headers i in Ambassador config

most of the error messages got resolved, however, after loggi

[2022-07-06 17:34] sumesh-aot commented on #548
@nagannv It looks like there are 2 issues from logs;
1. The keycloak URL ends with a `/` and is causing the URL to be invalid with `//` i.e; https://kc.formflow.click**//**auth/admin/realms/forms-flow-ai/groups
2. You need to provide the analytics server URL (redash) and key as the environment variable. https://github.com/AOT-Technologies/forms-flow-ai/blob/master/forms-flow-api/src/formsflow_api/

[2022-07-06 18:59] sumesh-aot commented on #568
@Arekku21 Issue with token could be issuer (`iss`) in the jwt. When you generate the token; iss is generated based on the URL you tried. In your case it would be `http://localhost:8080/...`. But your backend configuration would be expecting the issuer with IP address. So can you try generating the token in postman using the IP Address URL than localhost?

@alanraju-aot Can you look at the other er

[2022-07-12 20:49] nagannv commented on #548
@sumesh-aot thank you for your inputs.
I corrected the keycloak path
I set the INSIGHT_API_URL and INSIGHT_API_KEY  as suggested
On clicking the dashboard button forms-flow webUI with Designer login , getting `Failed to fetch groups` message
`GET https://formsapi.formflow.click/groups 404 (Not Found)`

[2022-07-12 20:56] sumesh-aot commented on #548
@nagannv Could you create a dashboard (and publish) in redash and see how it's coming ?

[2022-07-14 00:20] nagannv commented on #548
@sumesh-aot
I have created a dashboard and published with both admin and designer users. still the same error `"Failed to fetch groups"`

[2022-07-18 14:43] alanraju-aot commented on #568
@Arekku21 all the issues has been cleared off, can you just delete all the containers and prune everything. Then install via quick installation method. If the issues still continue reflecting on your system, please update here, will look into it.

[2022-07-21 20:01] sumesh-aot commented on #548
@nagannv Can you please paste the error logs from API ?

[2022-07-27 16:19] iman-jamali-fw opened #690 "Camunda listener calls to `forms-flow-api` resulted in error `context: servletRequest cannot be null`"
## Bug Report

### Please provide information about your setup

- formsflow.ai Version: 4.0.4

### Steps to Reproduce

1. Add a Listener (like the one at the bottom of this post) in Camunda that calls `form-flow-webapi`
2. This listener should be added somewhere in a workflow where similar calls were made before or at the same time (look at the workflow screenshot below this post).
3. Complete the

[2022-07-28 21:15] iman-jamali-fw commented on #690
Turned out v4.0.5 already fixed this issue. You just need to replace this [file](https://github.com/AOT-Technologies/forms-flow-ai/blob/master/forms-flow-bpm/src/main/java/org/camunda/bpm/extension/keycloak/rest/client/WebClientOauth2Config.java) in the older version with the new one from v4.0.5.

[2022-07-28 21:15] #690 closed

[2022-08-02 21:34] Yakumwamba commented on #361
Thanks for the continued support looking forward to hearing from you on this soon.

[2022-08-03 22:24] hgrecco opened #714 "Failed building docker image"
## Bug Report

### Please provide information about your setup

- formsflow.ai Version: Downloaded from github 2bcf8462c7edb486cbe4c9eead666cb1e92a8596
- Docker version 20.10.12, build e91ed57
- macOS 12.4

### Steps to Reproduce

1. Build the docker image following the instructions
   `docker-compose -f docker-compose-linux.yml up --build -d`

### Observed Behaviour
[code]

### Expected Behaviour

[2022-08-08 10:05] alanraju-aot commented on #361
The release will be at the end of this month. Both batch and shell script has been updated as per your interest. You can now easily install the project

[2022-08-09 06:51] sarvmai opened #731 "Server crashes when I build the docker images"
Hello All,

I am in need of some help here, been following the following installation guide
https://github.com/AOT-Technologies/forms-flow-ai/tree/master/deployment/docker

The keycloak, Redash, and forms.io page which listen on 8080, 3001 and 7000 ports come up fine but the other 3 dont. Everytime the build is taking around 2 hours and at the end of it the server itself crashes and logs me out.

[2022-08-19 05:04] alanraju-aot commented on #731
Can you just expose what the error actually is? Just show the error message that you get and also if it breaks just send the loggs of the following containers.

[2022-08-19 08:02] alanraju-aot commented on #714
@hgrecco The error occurred due to the excess memory. Just prune everything in the docker. Follow the command below:
1. docker system prune
2. docker container prune
3. docker network prune
4. docker image prune
If the image has not deleted, you might need to clear all the images manually by entering into the docker desktop.

[2022-08-28 05:09] 0plm9okn8ijb opened #815 "Form Process Failed & Error in creating form Process mapper"
## Bug Report
I am having issue with Form Process Failed & Error in creating form Process mapper. I have followed all the instruction given in the instruction but when creating form, above mentioned issues popped up and it seemed that the form doesn't save. Also it can not be viewed from the client side.
### Please provide information about your setup
I have followed the docker full deployment met

[2022-08-29 21:00] sumesh-aot commented on #815
@0plm9okn8ijb Can you please share the API logs?

[2022-10-11 11:54] sreehari-aot commented on #815
Closing this issue since it is fixed in the latest release!

[2022-10-11 11:54] #815 closed

[2022-10-11 15:47] #731 closed

[2022-10-11 15:47] #714 closed

[2022-10-11 16:41] #559 closed

[2022-10-11 16:43] #361 closed

[2022-10-13 05:02] #489 closed

[2022-10-13 05:19] #393 closed

[2022-10-13 05:22] #231 closed

[2022-10-14 06:59] #162 closed

[2022-10-14 07:00] abhilash-aot commented on #215
The new versions of forms-flow-ai from v4.0.5 already have a fix for this. Updated the Formio token mechanism. Hence closing the ticket

[2022-10-14 07:00] #215 closed

[2022-10-14 07:02] #227 closed

[2022-10-25 11:24] pruthvik9 opened #978 "Camunda Integration shows Invalid Credentials with formsflow.ai docker deployment"
## Bug Report
Camunda Integration shows Invalid Credentials with formsflow.ai docker deployment### Please provide information about your setup

- formsflow.ai Version: 5.0.4
- Browser: Google Chrome
- Browser version: Version 106.0.5249.119 (Official Build) (arm64)

### Steps to Reproduce

1. Deploy Keycloak as Individual docker service
2. Deploy Camunda (bpm) as individual docker service
3. Try t

[2022-10-25 18:06] sumesh-aot commented on #978
@alanraju-aot Can you please take a look ?

[2022-10-26 05:48] alanraju-aot commented on #978
@pruthvik9  Can you just confirm whether you are getting error during the initial login through your localhost?
These are the steps you should do while installing bpm through docker-full-deployment
1. install keycloak first
2. bring up all the containers with the command docker-compose up --build -d
3. if its through individual service deployment, bring up keycloak, then bpm, wait for 3 mints for

[2022-10-26 08:21] pruthvik9 commented on #978
@alanraju-aot yes this is when I initially log in as localhost (I'm using the server's Private IP).
Also FYI - I get a prompt to reset the password when I use the default credentials as mentioned [here](https://aot-technologies.github.io/forms-flow-ai-doc/default%20user%20credential.html)

Also as you suggested let me wait for sometime once camunda containers are up and then try to login with real

[2022-10-26 10:05] alanraju-aot commented on #978
Could you also try quick installation as said in the document. Feel free to report any bugs or error while you install formsflow. Also just try it in your local with the IPv4 address in your system.

[2022-10-27 04:25] alanraju-aot commented on #978
@pruthvik9  I think it might be an issue with the IP, I had checked in all ways , tested multiple times. Just try it oncemore, and if the issue still affects you, we can arrange a meeting regarding the issue and lets sort it out.

[2022-10-27 08:11] sch-publicplan opened #982 "Error with Installation"
## Bug Report

### Please provide information about your setup

- formsflow.ai Version: 5.0.2
- Browser: Chrome
- Browser version:  106.0.5249.119

### Steps to Reproduce

Install formsflow on VM Linux Ubuntu
Info about VM:
---------------------------------------------------
Welcome to Ubuntu 22.04.1 LTS (GNU/Linux 5.15.0-52-generic x86_64)

  * Documentation:  https://help.ubuntu.com/
  * Managem

[2022-10-27 08:37] pruthvik9 commented on #978
@alanraju-aot just a quick query on keycloak configuration, if it enabled for external authentication (other than localhost or same host) by default?

[2022-10-27 08:59] pruthvik9 commented on #978
@alanraju-aot Attaching my camunda environment file which is located at - /forms-flow-ai/tree/master/forms-flow-bpm/.env
Please let me know if I am missing anything.

NOTE : before executing docker compose in this directory, keycloak, forms.io and analytics (redash) components and the uptime was verified.
[camunda_env.txt](https://github.com/AOT-Technologies/forms-flow-ai/files/9877800/camunda_env

[2022-10-27 11:02] alanraju-aot commented on #978
@pruthvik9 Their is an issue in the env file. After you build keycloak , you must uncomment the keycloak_bpm_client_secret key,
but through quick installation that automatically configures. Can you just try after uncommenting it.

[2022-10-27 17:01] dinbtechit opened #983 "[Question] - minimum resource limits for Kubernetes?"
Wondering if someone can provide us with a minimum resource requirement to run forms-flow-ai in an openshift Kubernetes cluster.

[2022-10-27 17:39] sumesh-aot commented on #983
@cberg-aot @kiran-aot Can you please help with this ?

[2022-10-27 22:54] cberg-aot commented on #983
@dinbtechit We will be releasing an update to the readme containing resource specifications.  In the meantime please see this link https://docs.google.com/spreadsheets/d/1o5NPVBBAGpmInB5pLm41N2r71_0NlaMNFDOe7kfjLNQ/edit?usp=sharing

[2022-10-28 12:15] #983 closed

[2022-10-28 16:01] pruthvik9 commented on #978
@alanraju-aot the issue still persists. Appreciate if we could get on a short call

[2022-10-29 00:18] dinbtechit opened #984 "[Question] - Help required with openshift4 deployment"
Hi, I am trying to deploy the stack on openshift 4. However, the documentation seems a bit limited. Can you please provide some step-by-step instructions?

There are no instructions in which order the template should be executed.. I tried to deploy the MongoDB secrets template and an error. Below are the steps.

1.  cd into database
[code]
2. Updated the `mongo-db_param.yaml` with all default valu

[2022-10-29 14:57] dinbtechit opened #985 "Helm Chart - not a valid chart repository or cannot be reached"
## Bug Report
Unable to add helm chart repo -  https://aot-technologies.github.io/helm-charts

### Steps to Reproduce

1. Add helm chart
[code]
    Output:

[code]

[2022-10-31 06:44] alanraju-aot commented on #978
@pruthvik9 We have traced the issue that you have raised, we will be able to resolve the issue soon, will update the status here. Once the issues are closed, we will let you know.

[2022-10-31 08:12] alanraju-aot commented on #982
Can you update in, what Virtualization tool are you using?

[2022-10-31 17:43] sumesh-aot commented on #985
@dinbtechit We had renamed the repo which caused this issue. Updated the doc to reflect this https://aot-technologies.github.io/forms-flow-ai-doc/#kubernetes_individual_services

[2022-10-31 17:44] sumesh-aot commented on #984
@dinbtechit Openshift deployment templates are deprecated, please use the helm charts. We will be removing these in next update. I have updated your other ticket on doc update.

[2022-10-31 17:54] dinbtechit commented on #985
Thank you so much for the quick response. I have a couple of questions.

1. I want to use our existing keycloak. I have already imported the formflow realm configuration into our  keycloak. How do I do that with Helm charts?

2.  Similarly can I use our existing postgress, redis, MongoDB?

[2022-10-31 18:06] sumesh-aot commented on #985
@dinbtechit as in that documentation, you can pass a custom keycloak details. The example below is for just updating only keycloak host URL, but you can override any values here https://github.com/AOT-Technologies/forms-flow-ai-charts/blob/master/charts/forms-flow-ai/values.yaml by using helm `--set` command.
<img width="1012" alt="Screen Shot 2022-10-31 at 10 56 39 AM" src="https://user-images.gi

[2022-10-31 18:09] dinbtechit commented on #985
This was very helpful... thank you so much.

[2022-10-31 18:09] dinbtechit commented on #984
oh ok. thats good to know. Thank you.

[2022-10-31 18:09] #984 closed

[2022-10-31 20:26] dinbtechit commented on #985
Are you able to send me the steps to update the `helm charts` locally? I would like to reduce the MongoDB and Postgres storage size from the default `8Gi` to `2Gi`

Unable to install the helm chart from my local directory not sure what I am missing.

[code]

[2022-10-31 21:04] sumesh-aot commented on #985
@dinbtechit It's complaining about the dependency.
So you would need go inside forms-flow-ai then run `helm dependency build`.
Also for changing the storage; you would need to add
[code]
Here https://github.com/AOT-Technologies/forms-flow-ai-charts/blob/master/charts/forms-flow-ai/values.yaml#L47
FYI : the chart is using bitnami chart for mongo; https://github.com/bitnami/charts/tree/main/bitnami/

[2022-10-31 21:47] dinbtechit commented on #985
ty ty! Yes I updated few things in values.yml for my infrastructure:

In `charts/forms-flow-ai/values.yaml` updated the following:
[code]

And did the following commands to install the updates

1.  cd into forms-flow-ai
2. built helm dependencies.
[code]
output:
[code]
3. And installed the helm chart again. (this time from local directory)

[code]

[2022-11-01 05:41] alanraju-aot commented on #982
Also just check the formsflow-ai version, you have mentioned it as 5.0.2.

[2022-11-01 05:48] alanraju-aot commented on #978
If you prefer, lets have a call in detail and that can be more effective in understanding the issue and we may catch it sson, please let me know your availability for the call and just add your mail id so I can send you the invitation.

[2022-11-01 06:15] pruthvik9 commented on #978
pruthvisk4@gmail.com

[2022-11-02 05:53] sumesh-aot commented on #985
@cberg-aot Any idea on this error ?

[2022-11-02 06:00] cberg-aot commented on #985
@dinbtechit @sumesh-aot I don't think helm dependency build is the correct command here.  Try helm dependency update.

![image](https://user-images.githubusercontent.com/93226309/199410162-9c716f45-242e-4c52-ac85-c9df097494e5.png)

[2022-11-02 11:32] dinbtechit commented on #985
@cberg-aot  - That makes sense. I am following this script [here](https://github.com/AOT-Technologies/forms-flow-ai-charts/blob/master/scripts/install-forms-flow.sh#L18).

[code]
output:
[code]

2. And then tried to install the chart are specified in this [line41](
   https://github.com/AOT-Technologies/forms-flow-ai-charts/blob/master/scripts/install-forms-flow.sh#L41). but with an upgrade as I a

[2022-11-02 15:27] dinbtechit opened #990 "[Question] - How do I report a security issues?"
As a responsible coder, I would like to report security issues. Whom should I contact? I don't want to post the CVE here.

[2022-11-02 16:30] dinbtechit opened #991 "[Question] - FormsFlow -> Admin -> Internal Server Error"
I have deployed formflow-ai using the Helm charts. The apps the be working very well except the "admin" tab shows an `Intenal Server Error`. Any idea what is going on?

![image](https://user-images.githubusercontent.com/17984781/199546745-deee733e-08d3-458f-bd17-11ed9cd7ce8d.png)

[2022-11-02 16:40] dinbtechit commented on #991
Initiated a discussion for this. https://github.com/AOT-Technologies/forms-flow-ai/discussions/993

[2022-11-02 17:00] sumesh-aot commented on #990
@dinbtechit Please send it to sumesh.pk@aot-technologies.com and we will have the discussion going on there.

[2022-11-02 17:03] cberg-aot commented on #985
Turns out there is something up with the bitnami chart registry!   There is source code for the postgres and mongodb charts available here:  https://github.com/bitnami/charts/tree/main/bitnami

My suggestion as a work around:
- Download postgresql/mongodb charts from bitnami github.
- Create a charts dir -> forms-flow-ai/charts/
- move postgres/mongo into the forms-flow-ai/charts directory
- Modif

[2022-11-02 17:04] cberg-aot commented on #985
@dinbtechit @sumesh-aot forms-flow-idm/keycloak will also require some modification since it is set to pull from the bitnami registry by default.

[2022-11-02 17:06] sumesh-aot commented on #991
Discussion updated with comment

[2022-11-02 17:20] cberg-aot commented on #985
@dinbtechit @sumesh-aot https://github.com/bitnami/charts/issues/13309  Active thread - 2/hrs

[2022-11-02 17:30] #991 closed

[2022-11-02 18:25] #990 closed

[2022-11-03 16:26] cberg-aot commented on #985
@dinbtechit @sumesh-aot  I was thinking about this.  You should not need to run helm repo update at all, and the issue you are having is avoidable.

https://artifacthub.io/packages/helm/bitnami/postgresql

The forms-flow-ai Chart is able to modify all values of its subcharts.  Above is the api for postgres.

To set resourses on databases you can modify the resources on install.

For example:
helm

[2022-11-03 16:31] dinbtechit commented on #985
I tried to do that but got an error saying values mismatch or something like that. Let me try that again. Thanks for the info!

[2022-11-03 16:54] cberg-aot commented on #985
tested
![image](https://user-images.githubusercontent.com/93226309/199784725-8738b9ce-3b8a-4edf-bca9-e93818ff36d7.png)
![image](https://user-images.githubusercontent.com/93226309/199784861-ee71e400-8305-4f85-9583-0af064852313.png)

[2022-11-08 04:28] sreehari-aot commented on #982
Your server is also incompatible with mongo:5.
https://github.com/AOT-Technologies/forms-flow-ai/blob/master/deployment/docker/docker-compose.yml#L7
Here you can try out lower versions of the mongo image mongo:4.4.6 or 4.2 should work.

[2022-11-08 16:48] TriStarGod opened #998 "Pre-fill form"
Hi,
This looks like a great project. Is there a way to partially pre-fill forms?
Thanks

[2022-11-08 18:54] sumesh-aot commented on #998
@TriStarGod There are ways to do it.
@abhilash-aot Can you provide some details ?

[2022-11-09 01:10] abhilash-aot commented on #998
@TriStarGod Yes we can prefill the data in forms . This can we achieved when designing step of the form either of the following ways

![image](https://user-images.githubusercontent.com/61222674/200709569-1fdecf6f-8e42-452c-92e8-251dcb039e51.png)

![image](https://user-images.githubusercontent.com/61222674/200710163-bce33b64-ad5c-40a3-a6d7-c3d7f6ac7a6c.png)
Setting the value with JS:
![image](https

[2022-11-11 19:33] sreehari-aot commented on #998
@TriStarGod It is totally possible. Formsflow.ai supports all features of Formio. If you have a look at the third screenshot we can write javascript logic to fetch necessary data and pass it to the form. We have a lot of implementations of such nature.

[2022-11-16 22:41] #998 closed

[2022-11-24 07:53] edlynvillegas opened #1018 "Camunda platform error (forms-flow-bpm)"
## Bug Report

### Please provide information about your setup

- formsflow.ai Version: 5.0.1
- Browser: Brave
- Browser version: 1.45.118

### Steps to Reproduce

Installation steps from Docker-based Installation > Individual Service Deployment > [forms-flow-bpm](https://aot-technologies.github.io/forms-flow-ai-doc/formsflow_bpm.html)

The same issue was encountered with Docker-based Installation

[2022-11-24 18:44] sumesh-aot commented on #1018
@alanraju-aot Can you please check this ?

[2022-11-24 21:20] alanraju-aot commented on #1018
👍

[2022-11-25 04:58] alanraju-aot commented on #1018
Observed issues:
1. Keycloak configuration not done properly.
2. IP address may be different, may be using wsl Ip(Please confirm that).
3. Check the webapi loggs too.

[2022-11-25 09:31] maddin79 commented on #1018
@alanraju-aot The question states that this is also in the quick install setup. I tested it and have the same error. It seems in your quick install script is an error. We can not test the application. Furthermore, if I apply for the test account on your web page, I never get an email. Makes it impossible to have a quick look at your app.

Best
Martin

[2022-11-25 18:16] sumesh-aot commented on #1018
@maddin79 have you tried submitting request at https://formsflow.ai/try-it-now/. If you haven't received any email with credentials after submitting request, please send an email to sumesh.pk@aot-technologies.com with details on email address you have provided for sandbox access.

[2022-11-25 18:23] sumesh-aot commented on #1018
@maddin79 @edlynvillegas
Can you please check if there are any other application running on 8080? It looks like keycloak didn't come up in this case, which is preventing BPM startup. If you are still unable to bring it up, please send an email to above address so that we connect and screen share to resolve the issue.

[2022-11-28 08:43] maddin79 commented on #1018
@sumesh-aot Thanks for the reply. I do not have anything running on port 8080. If would be a different error if I would have.
I'll send you an email with the address information.